# Gradle
build
gradle.properties
.gradle
local.properties
out

# Maven (examples)
target

# Bazel
bazel-bin
bazel-examples
bazel-genfiles
bazel-grpc-java
bazel-out
bazel-testlogs

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
.gitignore
bin

# OS X
.DS_Store

# Emacs
*~
\#*\#
