# Gradle
build
gradle.properties
.gradle
local.properties

# Maven (examples)
target

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
.gitignore
bin

# OS X
.DS_Store

# Emacs
*~
\#*\#
