language: go

go:
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - 1.9.x

matrix:
  include:
  - go: 1.9.x
    env: GOARCH=386

go_import_path: google.golang.org/grpc

before_install:
  - if [[ "$TRAVIS_GO_VERSION" = 1.9* && "$GOARCH" != "386" ]]; then ./vet.sh -install || exit 1; fi

script:
  - if [[ "$TRAVIS_GO_VERSION" = 1.9* && "$GOARCH" != "386" ]]; then ./vet.sh || exit 1; fi
  - make test testrace
